<div class="dialogContainer">
  <div>
    <h2 class="title-place-dialog"
        *ngIf="!placeAndUserId.place">Crea un Nuevo Lugar!</h2>
    <h2 class="title-place-dialog"
        *ngIf="placeAndUserId.place">Editar este lugar</h2>
  </div>
  <form [formGroup]="registerForm"
        (ngSubmit)="onSubmit()">

    <div class="form-control">
      <label for="name">Nombre</label>
      <input id="name"
             class="form-control-input"
             [(ngModel)]="newPlace.name"
             formControlName="name"
             [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched || submitted) }"
             [attr.disabled]="placeAndUserId.place ? 'disabled' : null"
             required>

      <div *ngIf="name.invalid && (name.dirty || name.touched || submitted)"
           class="alert alert-danger">

        <div *ngIf="name.errors.required">
          El campo nombre es requerido.
        </div>
      </div>
    </div>

    <div class="form-control">
      <label for="description">Descripción</label>
      <textarea id="description"
                class="form-control-input"
                [(ngModel)]="newPlace.description"
                formControlName="description"
                [ngClass]="{ 'is-invalid': description.invalid && (description.dirty || description.touched || submitted) }"
                required></textarea>

      <div *ngIf="description.invalid && (description.dirty || description.touched || submitted)"
           class="alert alert-danger">

        <div *ngIf="description.errors.required">
          El campo correo electrónico es requerido.
        </div>
      </div>
    </div>

    <button class="submit-button"
            *ngIf="!placeAndUserId.place">Crear</button>
    <button *ngIf="placeAndUserId.place"
            class="submit-button">Editar</button>
    <button *ngIf="placeAndUserId.place"
            class="cancel-button"
            (click)="onNoClick()">Cancelar</button>
  </form>
</div>
