<div class="appContainer">
  <header class="flex-row-wrap">
    <h1 class="indieFlowerFontFamily">Places and More Places</h1>
    <div class="logInContainer flex-row-wrap">
      <div><a (click)="openRegisterDialog()"
           *ngIf="!userID">Registrate</a></div>
      <div><a (click)="openLoginDialog()"
           *ngIf="!userID">Inicia Sesión</a></div>
      <div><a (click)="logout()"
           *ngIf="userID">Cerrar Sesión</a></div>
    </div>
  </header>
  <div class="bodyContainer">
    <div class="filterContainer flex-row-wrap">
      <div class="flex-row-wrap">
        <div [ngClass]="activeAllFilter ? 'filterActivated' : 'filterNoActivated'"
             (click)="allPlaces()"><a>Todos Los Lugares</a></div>
        <div [ngClass]="activeOnlyMeFilter ? 'filterActivated' : 'filterNoActivated'"
             (click)="filterByMyOwnPlaces()"
             *ngIf="userID"><a>Mis Lugares</a></div>
      </div>
      <div class="addNewPlace"
           *ngIf="userID"
           (click)="openCreateNewPlaceDialog()">
        +
      </div>
    </div>
    <div class="listContainer flex-row-wrap">
      <div class="list">
        <div *ngFor="let place of placesList">
          <h2>{{place.Name}}</h2>
          <p>{{place.Description}}</p>
        </div>
      </div>
      <div class="sidebar">
        <div class="indieFlowerFontFamily">Todos tus lugares favoritos en este lugar</div>
      </div>
    </div>
  </div>
</div>
