<div class="appContainer">
  <header class="flex-row-wrap">
    <h1 class="indieFlowerFontFamily">Places and More Places</h1>
    <div class="logInContainer flex-row-wrap">
      <div><a href="">Registrate</a></div>
      <div><a href="">Inicia Sesión</a></div>
    </div>
  </header>
  <div class="bodyContainer">
    <div class="filterContainer flex-row-wrap">
      <div class="flex-row-wrap">
        <div [ngClass]="activeFilter ? 'filterActivated' : 'filterNoActivated'"
             (click)="allPlaces()"><a>Todos Los Lugares</a></div>
        <div [ngClass]="activeFilter ? 'filterNoActivated' : 'filterActivated'"
             (click)="filterByMyOwnPlaces()"><a>Mis Lugares</a></div>
      </div>
      <div class="addNewPlace">
        +
      </div>
    </div>
    <div class="listContainer flex-row-wrap">
      <div class="list">
        <div *ngFor="let place of placesList">
          <h2>{{place.Name}}</h2>
          <p>{{place.Description}}</p>
        </div>
      </div>
      <div class="sidebar">
        <span class="indieFlowerFontFamily">Todos tus lugares favoritos en este lugar</span>
      </div>
    </div>
  </div>
</div>
