/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  background-color: lightgray;
  overflow: hidden;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}
